<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/admin.css">
    <title>Ziyo Academy | Admin</title>
</head>

<body>
    <h2 class="ui dividing header flex-between" style="padding: 20px;">
        Ziyo Academy | Admin   

        <a href="/admin/logout" class="ui button">
            <i class="icon sign-out"></i>
        </a>
    </h2>
    <div class="container" style="width: 90%; margin: auto;">
        <div class="flex">
            <div class="ui secondary vertical menu">
                <a class="active item" href="/admin/applications">
                    Applications
                </a>
                <a class="item" href="/admin/news">
                    News
                </a>
                <a class="item" href="/admin/programs">
                    Programs
                </a>
                <a class="item" href="/admin/contacts">
                    Contacts
                </a>
            </div>
            
            <div class="content">
                <table class="ui celled table">
                    <thead>
                      <tr><th>ID</th>
                      <th>Full Name</th>
                      <th>Candidate Full Name</th>
                      <th>Age or Class</th>
                      <th>Phone</th>
                      <th>Program</th>
                      <th></th>
                    </tr></thead>
                    <tbody>
                        <% for( let app of applications) { %>
                            <tr>
                                <td data-label="ID"><%= app.id %></td>
                                <td data-label="FullName"><%= app.fullName %></td>
                                <td data-label="Candidate Full Name"><%= app.candicateFullName %> </td>
                                <td data-label="Age or Class"><%= app.ageOrClass %></td>
                                <td data-label="Phone"><%= app.phone %></td>
                                <td data-label="program"><%= app.program.name %></td>
                                <td data-label="">
                                    <a href="/admin/applications/<%=app.id%>/delete"  class="ui icon button">
                                        <i class="trash alternate outline icon"></i>
                                    </a>
                                </td>
                              </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>
</html>